.page-layout {
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.children {
    position: fixed;
    top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    order: 1;
    font-family: "Andale Mono", AndaleMono, monospace;
    background: #393737;
    overflow-x: hidden;
    overflow-y: scroll;
}